#info {
  min-height: 400px;
  padding: 4rem 10rem;
  color: #eeeeee; 
  /*background: linear-gradient(
      to bottom, 
      rgba(0,0,0,0.42) 0%,
      rgba(0,0,0,0.39) 24%,
      rgba(0,0,0,0.3) 38%,
      rgba(0,0,0,0.28) 40%,
      rgba(0,0,0,0.22) 47%,
      rgba(0,0,0,0.1) 60%,
      rgba(0,0,0,0.03) 73%,
      rgba(0,0,0,0) 100%);   */
}

#info div.container {
  background: #23292e;
  border-radius: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#info figure {
  margin: 0 auto;
}

#info img {
  border-radius: 10px;
}

#info .col-md-4 {
  line-height: 7px;
}
#info .col-md-4 h1,
#info .col-md-4 h2{
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

#info p,
#info span {
  font-family: 'Slabo 27px', serif;
}

#info .col-md-4 h2{
  margin-left: 80px;
}

#info .col-md-4 span{
  margin-left: 50px;
}

#info .col-md-4 .p-id{
  margin-left: 60px;
  line-height: 10px;
}

#info .col-md-4 h1 {
  margin-left: 50px;
}

#info .col-md-4 span {
  color: #666;
  font-size: 10pt;
}

#info .col-md-4 .p-id{
  margin-bottom: 0;
  margin-top: 10px;
}

#info .col-md-4 p {
  line-height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

#info .col-md-4 h1 {

}