body {
    background: #191d21;
}

/*Banner - header*******************/
#banner {
    min-height: 750px;
}

.zoom img {
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.zoom:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; 
    box-shadow: 5px 5px 15px 5px #FFFFFF;
}

.logo-avatar{
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 30%;
}

.avatar {
    border: 5px solid #fff;
    border-radius: 50%;
    max-width: 12%;
    margin: 0 auto;
}

.avatar img{
    height: 150px;
}

#banner-list-social-icon {
    font-size: 2rem;;
}

#nav ul li a{
    transition: color 200ms ease-in;
}

#menu-footer ul li a:hover,
#nav ul li a:hover {
    color: yellowgreen;
}

/*Geral*******************/

#two,#three{
    color: #fff;
    padding: 8rem 0;
}

/*Info*******************/

#info {
    min-height: 400px;
    padding: 2rem 0;
    background: #fff;
    color:  #3e3939;
}

#img-border1-banner {
    border: 10px solid #4c50c5;
    position: relative;
    right: -10px;
    bottom: -10px;
    width: 210px;
    margin: 0 auto;
}

#img-border2-banner {
    border: 10px solid #added3;
    position: relative;
    left: -25px;
    top: -25px;
    width: 200px;
}

#img-banner img {
    max-width: 60%;
    min-width: 182px;
    z-index: 10;
    position: relative;
    bottom: -30px;
    right: -19px;
    border: 6px solid #84716d;
}

/*btn-navPanel - Header*******************/

#btn-navPanel {
    font-size: 2.5rem;
    margin: 0 auto;
}

#btn-navPanel:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 1199px) {
    #btn-navPanel{
      display: none;
    }
    #nav {
        display: block;
    }
}

@media (max-width: 1199px) {   
    #btn-navPanel{
        display: block;
    }
    #nav {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
background-color: #ffffff;
-webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
height: 10px;
background: #8f92eb;
-webkit-border-radius: 3px;
}