@import 'painel.css';
@import 'zoom.css';
@import 'banner.css';
@import 'avatar.css';
@import 'nav.css';
@import 'scrollbar.css';

body {
    background: #191d21;
}

/*Geral*******************/
#two,#three{
    color: #fff;
}

/*Info*******************/
#info {
    min-height: 400px;
    padding: 2rem 0;
    color: #e0dfdf; 
    background: linear-gradient(to bottom, rgba(0,0,0,0.42) 0%,rgba(0,0,0,0.39) 24%,rgba(0,0,0,0.3) 38%,rgba(0,0,0,0.28) 40%,rgba(0,0,0,0.22) 47%,rgba(0,0,0,0.1) 60%,rgba(0,0,0,0.03) 73%,rgba(0,0,0,0) 100%);   
}

@media (min-width: 1199px) {
    #btn-navPanel{
      display: none;
    }
    #nav {
        display: block;
    }
}

@media (max-width: 1199px) {   
    #btn-navPanel{
        display: block;
    }
    #nav {
        display: none;
    }
}