@import 'painel.css';
@import 'zoom.css';
@import 'banner.css';
@import 'avatar.css';
@import 'nav.css';
@import 'scrollbar.css';
@import 'info.css';
@import 'certifications.css';

body {
    background: #191d21;
}

/*Geral*******************/
#two,#three{
    color: #fff;
}

#banner,
#two {
    font-family: 'quicksand';
}

#three {
    font-family: sans-serif;
}

@media (min-width: 1199px) {
    #btn-navPanel{
      display: none;
    }
    #nav {
        display: block;
    }
}

@media (max-width: 1199px) {   
    #btn-navPanel{
        display: block;
    }
    #nav {
        display: none;
    }
}